<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="userMaster">
            <h2><span>User Master</span> {{ userMaster.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span>Email Id</span></dt>
                <dd>
                    <span>{{ userMaster.emailId }}</span>
                </dd>
                <dt><span>Password</span></dt>
                <dd>
                    <span>{{ userMaster.password }}</span>
                </dd>
                <dt><span>Updated By</span></dt>
                <dd>
                    <span>{{ userMaster.updatedBy }}</span>
                </dd>
                <dt><span>Updated Date</span></dt>
                <dd>
                    <span>{{ userMaster.updatedDate }}</span>
                </dd>
                <dt><span>Status</span></dt>
                <dd>
                    <div *ngIf="userMaster.status">
                        <a [routerLink]="['/category-metadata', userMaster.status?.id, 'view']">{{ userMaster.status?.id }}</a>
                    </div>
                </dd>
                <dt><span>Profile</span></dt>
                <dd>
                    <div *ngIf="userMaster.profile">
                        <a [routerLink]="['/profile-master', userMaster.profile?.id, 'view']">{{ userMaster.profile?.id }}</a>
                    </div>
                </dd>
                <dt><span>Profile Category</span></dt>
                <dd>
                    <div *ngIf="userMaster.profileCategory">
                        <a [routerLink]="['/category-metadata', userMaster.profileCategory?.id, 'view']">{{ userMaster.profileCategory?.id }}</a>
                    </div>
                </dd>
                <dt><span>Payment Subscription</span></dt>
                <dd>
                    <div *ngIf="userMaster.paymentSubscription">
                        <a [routerLink]="['/category-metadata', userMaster.paymentSubscription?.id, 'view']">{{ userMaster.paymentSubscription?.id }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/user-master', userMaster.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
            </button>
        </div>
    </div>
</div>
