<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-user-language-details-heading">Create or edit a User Language Details</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_language">Language</label>
                    <select class="form-control" id="field_language" name="language" formControlName="language">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="categoryMetadataOption.id === editForm.get('language')!.value?.id ? editForm.get('language')!.value : categoryMetadataOption" *ngFor="let categoryMetadataOption of categorymetadata; trackBy: trackById">{{ categoryMetadataOption.id }}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_proficiency">Proficiency</label>
                    <select class="form-control" id="field_proficiency" name="proficiency" formControlName="proficiency">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="categoryMetadataOption.id === editForm.get('proficiency')!.value?.id ? editForm.get('proficiency')!.value : categoryMetadataOption" *ngFor="let categoryMetadataOption of categorymetadata; trackBy: trackById">{{ categoryMetadataOption.id }}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_user">User</label>
                    <select class="form-control" id="field_user" name="user" formControlName="user">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="userMasterOption.id === editForm.get('user')!.value?.id ? editForm.get('user')!.value : userMasterOption" *ngFor="let userMasterOption of usermasters; trackBy: trackById">{{ userMasterOption.id }}</option>
                    </select>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span>Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span>Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
