<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="userCompanyDetails">
            <h2><span>User Company Details</span> {{ userCompanyDetails.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span>Name</span></dt>
                <dd>
                    <span>{{ userCompanyDetails.name }}</span>
                </dd>
                <dt><span>Website</span></dt>
                <dd>
                    <span>{{ userCompanyDetails.website }}</span>
                </dd>
                <dt><span>Description</span></dt>
                <dd>
                    <span>{{ userCompanyDetails.description }}</span>
                </dd>
                <dt><span>Address</span></dt>
                <dd>
                    <span>{{ userCompanyDetails.address }}</span>
                </dd>
                <dt><span>Vat</span></dt>
                <dd>
                    <span>{{ userCompanyDetails.vat }}</span>
                </dd>
                <dt><span>Mobile</span></dt>
                <dd>
                    <span>{{ userCompanyDetails.mobile }}</span>
                </dd>
                <dt><span>Linkedin</span></dt>
                <dd>
                    <span>{{ userCompanyDetails.linkedin }}</span>
                </dd>
                <dt><span>Twitter</span></dt>
                <dd>
                    <span>{{ userCompanyDetails.twitter }}</span>
                </dd>
                <dt><span>Skype</span></dt>
                <dd>
                    <span>{{ userCompanyDetails.skype }}</span>
                </dd>
                <dt><span>User</span></dt>
                <dd>
                    <div *ngIf="userCompanyDetails.user">
                        <a [routerLink]="['/user-master', userCompanyDetails.user?.id, 'view']">{{ userCompanyDetails.user?.id }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/user-company-details', userCompanyDetails.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
            </button>
        </div>
    </div>
</div>
