<div>
    <h2 id="page-heading">
        <span>User Company Details</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-user-company-details" [routerLink]="['/user-company-details/new']">
            <fa-icon icon="plus"></fa-icon>
            <span>
            Create a new User Company Details
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="userCompanyDetails?.length === 0">
        <span>No userCompanyDetails found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="userCompanyDetails && userCompanyDetails.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr>
                    <th scope="col" ><span>ID</span></th>
                    <th scope="col" ><span>Name</span></th>
                    <th scope="col" ><span>Website</span></th>
                    <th scope="col" ><span>Description</span></th>
                    <th scope="col" ><span>Address</span></th>
                    <th scope="col" ><span>Vat</span></th>
                    <th scope="col" ><span>Mobile</span></th>
                    <th scope="col" ><span>Linkedin</span></th>
                    <th scope="col" ><span>Twitter</span></th>
                    <th scope="col" ><span>Skype</span></th>
                    <th scope="col" ><span>User</span></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let userCompanyDetails of userCompanyDetails ;trackBy: trackId">
                    <td><a [routerLink]="['/user-company-details', userCompanyDetails.id, 'view']">{{ userCompanyDetails.id }}</a></td>
                    <td>{{ userCompanyDetails.name }}</td>
                    <td>{{ userCompanyDetails.website }}</td>
                    <td>{{ userCompanyDetails.description }}</td>
                    <td>{{ userCompanyDetails.address }}</td>
                    <td>{{ userCompanyDetails.vat }}</td>
                    <td>{{ userCompanyDetails.mobile }}</td>
                    <td>{{ userCompanyDetails.linkedin }}</td>
                    <td>{{ userCompanyDetails.twitter }}</td>
                    <td>{{ userCompanyDetails.skype }}</td>
                    <td>
                        <div *ngIf="userCompanyDetails.user">
                            <a [routerLink]="['/user-master', userCompanyDetails.user?.id, 'view']" >{{ userCompanyDetails.user?.id }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/user-company-details', userCompanyDetails.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/user-company-details', userCompanyDetails.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(userCompanyDetails)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
