<div>
    <h2 id="page-heading">
        <span>Project Budget Dtls</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-project-budget-dtl" [routerLink]="['/project-budget-dtl/new']">
            <fa-icon icon="plus"></fa-icon>
            <span>
            Create a new Project Budget Dtl
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="projectBudgetDtls?.length === 0">
        <span>No projectBudgetDtls found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="projectBudgetDtls && projectBudgetDtls.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr>
                    <th scope="col" ><span>ID</span></th>
                    <th scope="col" ><span>Budget</span></th>
                    <th scope="col" ><span>Ip Ownership</span></th>
                    <th scope="col" ><span>Project</span></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let projectBudgetDtl of projectBudgetDtls ;trackBy: trackId">
                    <td><a [routerLink]="['/project-budget-dtl', projectBudgetDtl.id, 'view']">{{ projectBudgetDtl.id }}</a></td>
                    <td>{{ projectBudgetDtl.budget }}</td>
                    <td>{{ projectBudgetDtl.ipOwnership }}</td>
                    <td>
                        <div *ngIf="projectBudgetDtl.project">
                            <a [routerLink]="['/project-hdr', projectBudgetDtl.project?.id, 'view']" >{{ projectBudgetDtl.project?.id }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/project-budget-dtl', projectBudgetDtl.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/project-budget-dtl', projectBudgetDtl.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(projectBudgetDtl)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
