<div>
    <h2 id="page-heading">
        <span>Project Type Masters</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-project-type-master" [routerLink]="['/project-type-master/new']">
            <fa-icon icon="plus"></fa-icon>
            <span>
            Create a new Project Type Master
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="projectTypeMasters?.length === 0">
        <span>No projectTypeMasters found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="projectTypeMasters && projectTypeMasters.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr>
                    <th scope="col" ><span>ID</span></th>
                    <th scope="col" ><span>Project Type Code</span></th>
                    <th scope="col" ><span>Project Type Name</span></th>
                    <th scope="col" ><span>Project Type Description</span></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let projectTypeMaster of projectTypeMasters ;trackBy: trackId">
                    <td><a [routerLink]="['/project-type-master', projectTypeMaster.id, 'view']">{{ projectTypeMaster.id }}</a></td>
                    <td>{{ projectTypeMaster.projectTypeCode }}</td>
                    <td>{{ projectTypeMaster.projectTypeName }}</td>
                    <td>{{ projectTypeMaster.projectTypeDescription }}</td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/project-type-master', projectTypeMaster.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/project-type-master', projectTypeMaster.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(projectTypeMaster)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
