<div>
    <div class="row justify-content-center">
        <div class="col-md-12">
            <h2 id="jhi-Confirm-heading">Confirm</h2>
        </div>
    </div>
    <div class="row justify-content-center">

        <div class="col-md-4">
            <form name="form" role="form">
                <div class="form-group">
                    <input type="text" readonly class="form-control" value="Set email & password">
                </div>
                <div class="form-group">
                    <input type="text" readonly class="form-control" value="Type of profile">
                </div>
                <div class="form-group">
                    <input type="text" readonly class="form-control" value="Select profile">
                </div>
                <div class="form-group">
                    <input type="text" readonly class="form-control" value="Personal details">
                </div>
                <div class="form-group">
                    <input type="text" readonly class="form-control" value="Choose subscription">
                </div>
                <div class="form-group">
                    <input type="text" readonly class="form-control" value="Payment method">
                </div>
                <div class="form-group">
                    <input type="text" style="background: #82B3DE;color: #fff;font-weight: bold;" readonly
                        class="form-control" value="Confirm">
                </div>
            </form>
        </div>
        <div class="col-6" style="background: white;border: 1px solid #82B3DE;margin:2px;">
            <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">


                <div>
                    <jhi-alert-error></jhi-alert-error>
                    <!--
                    <div class="form-group">
                        <label for="userId">User Id</label>
                        <input type="text" class="form-control" id="userId" name="userId" formControlName="userId"
                            readonly />
                    </div>
                    -->
                    <div class="form-group">
                        <label class="form-control-label" for="field_profiletype">Selected Profile</label>
                        <input type="text" class="form-control" name="profileType" id="profileType"
                            formControlName="profileType" readonly />

                    </div>
                    <div class="form-group">
                        <label class="form-control-label" for="field_companyName">Company Name</label>
                        <input readonly type="text" class="form-control" name="companyName" id="field_companyName" formControlName="companyName" />

                    </div>
                    <div class="form-group">
                        <label class="form-control-label" for="field_emailId">Email</label>
                        <input readonly type="text" class="form-control" name="emailId" id="field_emailId"
                            formControlName="emailId" />

                    </div>
                    <div class="form-group">
                        <label class="form-control-label" for="field_vatId">VAT Id</label>
                        <input readonly type="text" class="form-control" name="vatId" id="field_vatId"
                            formControlName="vatId" />

                    </div>

                    <div class="form-group">
                        <label class="form-control-label" for="field_description">Description</label>
                        <input readonly type="text" class="form-control" name="description" id="field_description"
                            formControlName="description" />

                    </div>

                    <div class="form-group">
                        <label class="form-control-label" for="field_address">Address</label>
                        <input readonly type="text" class="form-control" name="address" id="field_address"
                            formControlName="address" />

                    </div>

                    <div class="form-group">
                        <label class="form-control-label" for="field_website">Website</label>
                        <input readonly type="text" class="form-control" name="website" id="field_website"
                            formControlName="website" />
                    </div>

                    <div class="form-group">
                        <label class="form-control-label" for="field_mobile">Mobile</label>
                        <input readonly type="text" class="form-control" name="mobile" id="field_mobile"
                            formControlName="mobile" />
                    </div>

                    <div class="form-group">
                        <label class="form-control-label" for="field_linkedIn">LinkedIn</label>
                        <input readonly type="text" class="form-control" name="linkedIn" id="field_linkedIn"
                            formControlName="linkedIn" />
                    </div>
                    <div class="form-group">
                        <label class="form-control-label" for="field_twitter">Twitter</label>
                        <input readonly type="text" class="form-control" name="twitter" id="field_twitter"
                            formControlName="twitter" />
                    </div>
                    <div class="form-group">
                        <label class="form-control-label" for="field_skypeAddress">Skype Address</label>
                        <input readonly type="text" class="form-control" name="skypeAddress" id="field_skypeAddress"
                            formControlName="skypeAddress" />
                    </div>

                </div>

            </form>
            <div class="card">
                <h5>Language Details</h5>

                <p-table [value]="language">
                   
                    <ng-template pTemplate="header">
                        <tr>
                            <th>#</th>
                            <th>Language</th>
                            <th>Proficiency</th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-gval let-rowIndex="rowIndex">
                        <tr>
                            <td style="width: 3em;text-align: center;">
                                {{rowIndex+1}}
                            </td>
                            <td>
                                <ng-select [items]="languagemasters" bindLabel="categoryDescription" bindValue="id"
                                    appendTo="body" [readonly] ="true" [clearable]="false" [(ngModel)]="gval.language">
                                </ng-select>
                            </td>
                            <td>
                                <ng-select [items]="proficiencymasters" bindLabel="categoryDescription" bindValue="id"
                                    [clearable]="false" [readonly] ="true" [(ngModel)]="gval.proficiency" appendTo="body">
                                </ng-select>

                            </td>

                        </tr>
                    </ng-template>
                </p-table>
            </div>

            <div style="padding-bottom: 5px;padding-top: 5px;text-align: center;" >
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span>Back</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving"
                (click)="save()"
                    class="btn btn-primary" style="background: #37a000;border:0px;">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span>Confirm</span>
                </button>
            </div>
        </div>
    </div>
</div>