<div>
    <h2 id="page-heading">
        <span>Project Skill Dtls</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-project-skill-dtl" [routerLink]="['/project-skill-dtl/new']">
            <fa-icon icon="plus"></fa-icon>
            <span>
            Create a new Project Skill Dtl
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="projectSkillDtls?.length === 0">
        <span>No projectSkillDtls found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="projectSkillDtls && projectSkillDtls.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr>
                    <th scope="col" ><span>ID</span></th>
                    <th scope="col" ><span>Skill</span></th>
                    <th scope="col" ><span>Project</span></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let projectSkillDtl of projectSkillDtls ;trackBy: trackId">
                    <td><a [routerLink]="['/project-skill-dtl', projectSkillDtl.id, 'view']">{{ projectSkillDtl.id }}</a></td>
                    <td>
                        <div *ngIf="projectSkillDtl.skill">
                            <a [routerLink]="['/skill-master', projectSkillDtl.skill?.id, 'view']" >{{ projectSkillDtl.skill?.id }}</a>
                        </div>
                    </td>
                    <td>
                        <div *ngIf="projectSkillDtl.project">
                            <a [routerLink]="['/project-hdr', projectSkillDtl.project?.id, 'view']" >{{ projectSkillDtl.project?.id }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/project-skill-dtl', projectSkillDtl.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/project-skill-dtl', projectSkillDtl.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(projectSkillDtl)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
